<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.community.mapper.BuildingMapper">
	<resultMap type="building" id="buildingResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
<result column="BUILDING_NAME" property="buildingName" jdbcType="VARCHAR" />
<result column="BUILDING_YEAR" property="buildingYear" jdbcType="VARCHAR" />
<result column="BUILDING_FLOOR" property="buildingFloor" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getData" parameterType="building" resultMap="buildingResult">
		SELECT * FROM BUILDING WHERE ID=#{id, jdbcType=VARCHAR}
	</select>
	
	<select id="listAll" parameterType="building" resultMap="buildingResult">
		SELECT * FROM BUILDING 
		<where>
<if test="buildingName != null and buildingName != ''">
	<!-- and BUILDING_NAME like CONCAT('%','${buildingName}','%') -->
	and BUILDING_NAME like '%'||#{buildingName}||'%'
</if>
<if test="status != null and status != ''">
	and STATUS = #{status}
</if>
</where> 
		order by CREATE_TIME desc
	</select>
	<select id="list" parameterType="pageResult" resultMap="buildingResult">
		SELECT * FROM BUILDING 
		<where>
<if test="entity.buildingName != null and entity.buildingName != ''">
	<!-- and BUILDING_NAME like CONCAT('%','${buildingName}','%') -->
	and BUILDING_NAME like '%'||#{entity.buildingName}||'%'
</if>
<if test="entity.status != null and entity.status != ''">
	and STATUS = #{entity.status}
</if>
<if test="entity.startDate != null and entity.startDate != ''">
	<![CDATA[ and to_char(CREATE_TIME, 'YYYY-MM-DD') >= #{entity.startDate} ]]>
</if>
<if test="entity.endDate != null and entity.endDate != ''">
	<![CDATA[ and to_char(CREATE_TIME, 'YYYY-MM-DD') <= #{entity.endDate} ]]>
</if>
</where> 
		order by CREATE_TIME desc
	</select>
	
	<insert id="save" parameterType="building">
		INSERT INTO BUILDING (ID, BUILDING_NAME, BUILDING_YEAR, BUILDING_FLOOR, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{id, jdbcType=VARCHAR},
#{buildingName, jdbcType=VARCHAR},
#{buildingYear, jdbcType=VARCHAR},
#{buildingFloor, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{createTime, jdbcType=TIMESTAMP},
#{remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="building">
		update BUILDING
		<set>
<if test="buildingName != null">
	BUILDING_NAME = #{buildingName, jdbcType=VARCHAR},
</if>
<if test="buildingYear != null">
	BUILDING_YEAR = #{buildingYear, jdbcType=VARCHAR},
</if>
<if test="buildingFloor != null">
	BUILDING_FLOOR = #{buildingFloor, jdbcType=VARCHAR},
</if>
<if test="status != null">
	STATUS = #{status, jdbcType=VARCHAR},
</if>

		</set>
		where id = #{id, jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="building">
		delete from BUILDING where id = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>