<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.community.mapper.RegionMapper">
	<resultMap type="region" id="regionResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
<result column="NAME" property="name" jdbcType="VARCHAR" />
<result column="CODE" property="code" jdbcType="VARCHAR" />
<result column="LEVEL" property="level" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getData" parameterType="region" resultMap="regionResult">
		SELECT * FROM REGION WHERE ID=#{id, jdbcType=VARCHAR}
	</select>
	<select id="list" parameterType="pageResult" resultMap="regionResult">
		SELECT * FROM REGION 
		<where>
<if test="entity.name != null and entity.name != ''">
	<!-- and BUILDING_NAME like CONCAT('%','${buildingName}','%') -->
	and NAME like '%'||#{entity.name}||'%'
</if>
<if test="entity.status != null and entity.status != ''">
	and STATUS = #{entity.status}
</if>
<if test="entity.createTime != null and entity.createTime != ''">
	and to_char(CREATE_TIME, 'YYYY-MM-DD') = #{entity.createTime}
</if>
</where> 
		order by CREATE_TIME desc
	</select>
	
	<insert id="save" parameterType="region">
		INSERT INTO REGION (ID, PARENT_ID, NAME, CODE, LEVEL, STATUS, CREATE_TIME, REMARKS)
		VALUES (
#{id, jdbcType=VARCHAR},
#{parentId, jdbcType=VARCHAR},
#{name, jdbcType=VARCHAR},
#{code, jdbcType=VARCHAR},
#{level, jdbcType=VARCHAR},
#{status, jdbcType=VARCHAR},
#{createTime, jdbcType=TIMESTAMP},
#{remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="region">
		update REGION
		<set>
<if test="name != null">
	NAME = #{name, jdbcType=VARCHAR},
</if>
<if test="status != null">
	STATUS = #{status, jdbcType=VARCHAR},
</if>
		</set>
		where id = #{id, jdbcType=VARCHAR}
	</update>
	
	<delete id="delete" parameterType="region">
		delete from REGION where id = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>